@keyframes ball-drop {
    0% {
        top: 0px;
    }
    95% {
        top: 230px;
    }
    100% {
        top: 235px;
    }
}

@keyframes ball-deform {
    95% {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        border-radius: 25px;
    }
    100% {
        width: 70px;
        height: 40px;
        background-size: 70px 40px;
        border-radius: 35px/20px;
    }
}

@keyframes ball-shadow-fade-in {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ball-shadow-deform {
    0% {
        width: 40px;
        height: 20px;
        top: 215px;
    }
    95% {
        width: 40px;
        height: 20px;
        top: 215px;
    }
    100% {
        width: 50px;
        height: 20px;
        top: 225px;
    }
}

#bounce-speed-adjust {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#bounce-toggle {
    width: 110px;
}

#bounce-speed-input {
    background: #606060;
    accent-color: #202020;
}

#bounce-speed-value {
    width: 50px;
}

#bouncing-ball {
    --bounce-duration: 1500ms;
    --deform-duration: calc(var(--bounce-duration)*0.1);
    --anim-ball-drop-and-deform: ball-drop var(--bounce-duration) ease-in infinite alternate, ball-deform var(--bounce-duration) cubic-bezier(0, 0.25, 0, 0.25) infinite alternate;
    --anim-ball-shadow-fade-in: ball-shadow-fade-in var(--bounce-duration) cubic-bezier(1, 0, 1, 0) infinite alternate, ball-shadow-deform var(--bounce-duration) cubic-bezier(0, 0.25, 0, 0.25) infinite alternate;
    width: 100px;
    height: 305px;
    padding: 10px;
    border: 1px solid black;
    background-color: #c0c0c0;
    border-radius: 5px;
}

#bouncing-ball .ball {
    width: 50px;
    height: 50px;
    background-image: url("images/ball-basketball-icon.png");
    background-color: darkorange;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center center;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
    z-index: 1;
    animation: var(--anim-ball-drop-and-deform);
}

#bouncing-ball .shadow {
    width: 40px;
    height: 20px;
    background-image: radial-gradient(ellipse 50% 50%, black, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    top: 215px;
    z-index: 0;
    opacity: 0;
    margin: 0 auto;
    animation: var(--anim-ball-shadow-fade-in);
}